# macOS
.DS_Store

# Windows
Thumbs.db

# VS Code
.vscode/

# JetBrains
.idea/

# Vim swap files
*.swp
*.swo

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive Terraform files
.terraformrc
terraform.rc

# Terraform downloaded/local VM images
*.box
*.vdi
*.ova

.vagrant/

machines.json

node_modules/